<%= link_to "Back to User List", users_path %>
<h1>Edit Account</h1>

<% form_for @user, :url => { :action => "update" } do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
  <%= f.submit "Update" %>
<% end %>

<br /><%= link_to "My Profile", user_path(@user) %>


