<p>
<%= form.label :name %>
<%= form.text_field :name %>
</p>
<p>
<%= form.label :contact_person %>
<%= form.text_field :contact_person %>
</p>
<p>
<%= form.label :address %>
<%= form.text_area :address, :rows => 5, :cols => 34%>
</p>
<p>
<%= form.label :city %>
<%= form.text_field :city %>
</p>
<p>
<%= form.label :pincode  %>
<%= form.text_field :pincode %>
</p>
<p>
<%= form.label :phone_no %>
<%= form.text_field :phone_no %>
</p>
<p>
<%= form.label :customer_key %>
<%= form.text_field :customer_key %>
</p>
<p>
<%= form.label :status %>
<%= form.select :status, options_for_select(["Active","Inactive"], @customer.status) %>
</p>

<script type='text/javascript'>
  var f3 = new LiveValidation('customer_pincode');
  f3.add( Validate.Numericality, { onlyInteger: true } );
  f3.add( Validate.Length, { maximum: 6 } );
  var f4 = new LiveValidation('customer_phone_no');
  f4.add( Validate.Numericality, { onlyInteger: true } );
  f4.add( Validate.Length, { maximum: 12 } );
  var f2 = new LiveValidation('customer_name');
  f2.add( Validate.Format, { pattern: /^[a-zA-Z 0-9]+$/ } );
  var f2 = new LiveValidation('customer_contact_person');
  f2.add( Validate.Format, { pattern: /^[a-zA-Z 0-9]+$/ } );
   var f2 = new LiveValidation('customer_city');
  f2.add( Validate.Format, { pattern: /^[a-zA-Z 0-9]+$/ } );
</script>

