<p>
<%= form.label :name %>
<%= form.text_field :name %>
</p>
<p>
<%= form.label :description %>
<%= form.text_area :description, :rows => 5, :cols => 34%>
</p>
<p>
<%= form.label :developed_by  %>
<%= form.text_field :developed_by  %>
</p>
<p>
<%= form.label :status %>
<%= form.select :status, options_for_select(["Active","Inactive"], @product.status) %>
</p>
